# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# SQLite
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
